<div class="card">
    <div class="header">
        <h1 class="title">Club Detail</h1>
    </div>
    <div class="content">
    
        <p *ngIf="errors">{{ errors }}</p>
    
        <form *ngIf="club">
                
            <div class="form-group">
                <label>Id:</label>
                {{club.id || 'n/a'}} <input [(ngModel)]="club.id" name="id" class="form-control">
            </div>
                
            <div class="form-group">
                <label>Name:</label>
                <input [(ngModel)]="club.name" name="name" class="form-control">
            </div>
                
            <div class="form-group">
                <label>Nation:</label>
                <input [(ngModel)]="club.nation" name="nation" class="form-control">
            </div>
        
            <div class="form-group">
                <button
                (click)="save()"
                class="btn btn-default">Save</button>
            </div>

        </form>
    
    </div>
</div>